.header {
	position: fixed;
	left: 5.625rem; //90px;
	background-color: #fff;
	z-index: $z-index-header;
		&__wrapper {
			width: 84.375rem; //1350px;
			display: flex;
			justify-content: space-between;
		}
		&__left {
			display: flex;
			&__span {
				margin: 22px 17px 0px 26px;
				font-size: 1.875rem; //30px
				color: $textColor;
			}
			&__circle {
				width: 2.875rem; //46px;
				height: 2.875rem; //46px;
				margin: 16px 0px 13px 0px;
				background-color: $primary;
				border-radius: 50%;
				&__plus {
					padding: 11px 0px 0px 12px;
				}
			}
		}
}

.nav__list {
	max-width: 10.063rem; //161px;
	margin: 29px 26px 0px 0px;
	display: flex;
	justify-content: space-between;
}

.nav__item {
	margin: 0px 27px 0px 0px;
}

.line {
	max-width: 80.563rem; //1289px;
	height: 0.125; //2px;
	margin-left: 27px;
	border-bottom: 1px solid #F2EDED;
}

