.main {
	max-width: 58.313rem; //933px;
	@media only screen and (max-width: 480px){
		max-width: 26.25rem; //420px;
		margin-top: 1.563rem; //25px
  	}
	  @media only screen and (max-width: 320px){
		max-width: 16.25rem; //260px;
  	}
}
.dynamicFilter {
	max-width: 58.313rem; //933px;
	display: flex;
	justify-content: space-between;
	margin: 46px 0px 9px 0px;
	@media only screen and (max-width: 480px){
		display: none;
  	}
	&__GooglSync {
		display: flex;
	}
	&__box-btn {
		height: 2.125rem; //34px;
	}
	&__btn {
		width: 5.938rem; //95px;
		height: 2.125rem; //34px;
		background-color: #ffffff;
		border-radius: 5px;
		border-color: $secondary;
	}
	&__btn:hover {
		background: $secondary;
	}
	&__cover-btn {
		display: flex;
		justify-content: center;
		margin-left: 17px;
	}
	&__icon {
		margin-right: 7px;
	}
	&__text {
		margin-right: 17px;
		@include text;
	}
}

.line-dynamicFilter {
	margin-left: 0px;
	@media only screen and (max-width: 480px) {
		display: none;
  	}
}

.dropdowns-block {
	max-width: 58.313rem; //933px;
	margin: 25px 0px 23px 0px;
	@media only screen and (max-width: 480px) {
		max-width: 26.25rem; //420px;
		margin: 0px 0px 15px 20px;
  	}
	  @media only screen and (max-width: 320px) {
		max-width: 16.25rem; //260px;
		margin: 0px 0px 5px 60px;
  	}
}

.dropdowns {
	display: flex;
	@media only screen and (max-width: 480px) {
		flex-wrap: wrap;
  	}
}

.dropdowns__item {
	height: 2.688rem; //43px;
	background: #FFFFFF;
	border: 1px solid #F2EDED;
	box-sizing: border-box;
	border-radius: 5px;
	margin-right: 9px;
	@media only screen and (max-width: 480px) {
		margin-bottom: 10px;
  	}
}

#datepicker {
	border-top: none;
	width: 10rem; //160px;
	@media only screen and (max-width: 480px) {
		width: 9.688rem; //155px;
		height: 1.875rem; //30px;
		margin-bottom: 10px;
  	}
	@media only screen and (max-width: 320px) {
		width: 7.188rem; //115px;
		height: 1.875rem; //30px;
		margin-bottom: 10px;
  	}
}

input[type="text" i] {
	padding-left: 30px;
	@media only screen and (max-width: 480px) {
		padding-left: 15px;
		font-size: 0.688rem; //11px;
  	}
}

.wrapper__type
.ui-button {
	max-width: 7rem; //112px;
	height: 1.813rem; //29px;
	margin-right: 8px;
	background-color: #ffffff;
	border: 1px solid #F2EDED;
	border-top: none;
	z-index: 1;
	@media only screen and (max-width: 480px) {
		max-width: 7.5rem; //120px;
		height: 1.063rem; //17px;
		margin-bottom: 10px;
  	}
	@media only screen and (max-width: 320px) {
		width: 5rem; //80px;
		margin-bottom: 10px;
  	}
}

.wrapper__status
.ui-button {
	max-width: 5.063rem; //81px;
	height: 1.813rem; //29px;
	margin-right: 8px;
	background-color: #ffffff;
	border: 1px solid #F2EDED;
	border-top: none;
	z-index: 1;
	@media only screen and (max-width: 480px) {
		max-width: 7.5rem; //120px;
		height: 1.063rem; //17px;
		margin-bottom: 10px;
  	}
	  @media only screen and (max-width: 320px) {
		width: 5rem; //80px;
		margin-bottom: 10px;
  	}
}

.wrapper__categories
.ui-button {
	max-width: 6.375rem; //102px;
	height: 1.813rem; //29px;
	margin-right: 8px;
	background-color: #ffffff;
	border: 1px solid #F2EDED;
	border-top: none;
	z-index: 1;
	@media only screen and (max-width: 480px) {
		max-width: 7.5rem; //120px;
		height: 1.063rem; //17px;
		margin-bottom: 10px;
  	}
	@media only screen and (max-width: 320px) {
		width: 5rem; //80px;
		margin-bottom: 10px;
  	}
}

.wrapper__items
.ui-button {
	max-width: 8.375rem; //134px;
	height: 1.813rem; //29px;
	margin-right: 8px;
	background-color: #ffffff;
	border: 1px solid #F2EDED;
	border-top: none;
	z-index: 1;
	@media only screen and (max-width: 480px) {
		max-width: 7.5rem; //120px;
		height: 1.063rem; //17px;
		margin-bottom: 10px;
  	}
	@media only screen and (max-width: 320px) {
		width: 5rem; //80px;
		margin-bottom: 10px;
  	}
}

.wrapper__infoboxes
.ui-button {
	width: 8.688rem; //139px;
	height: 1.688rem; //27px;
	background-color: #ffffff;
	border: 1px solid #F2EDED;
	border-top: none;
	z-index: 1;
	@media only screen and (max-width: 480px) {
		width: 7.5rem; //120px;
		height: 1.063rem; //17px;
		margin-bottom: 10px;
  	}
	@media only screen and (max-width: 320px) {
		width: 5rem; //80px;
		margin-bottom: 10px;
  	}
}

.wrapper-action
.ui-button {
	width: 7.625rem; //122px;
	height: 1.813rem; //29px;
	background-color: #ffffff;
	border: 1px solid #F2EDED;
	border-top: none;
	z-index: 1;
	@media only screen and (max-width: 480px) {
		width: 3.625rem; //58px;
		height: 1.438rem; //23px;
  	}
	@media only screen and (max-width: 320px) {
		width: 8.75rem; //140px;
		height: 1.438rem; //23px;
  	}
}

.categories-name {
	position: relative;
	display: block;
	margin: 0px 0px -5px 12px;
	@include categories-name;
	z-index: 2;
	@media only screen and (max-width: 480px) {
		font-size: 0.438rem; //7px;
  	}
}

.categories-name:before {
   display: block;
   width: 118px;
   content: '';
   position: absolute;
   border-bottom: 1px solid #F2EDED;
   top:40%;
   right: 14px;
	@media only screen and (max-width: 320px) {
		width: 5rem; //80px;
  	}
}
 
.categories-name:after {
   display: block;
   width: 5px;
   content: '';
   position: absolute;
   border-bottom: 1px solid #F2EDED;
   top:40%;
   left: -7px; 
}

.categories-name-type:before {
	width: 4.25rem; //68px;
	right: 0.688rem; //11px;
	@media only screen and (max-width: 480px) {
		width: 5.625rem; //90px;
  	}
	@media only screen and (max-width: 320px) {
		width: 3.125rem; //50px;
  	}
}
.categories-name-type:after {
	width: 6px;
	left: -9px;	
}

.categories-name-status:before {
	width: 50px;
	right: 11px;
	@media only screen and (max-width: 480px) {
		width: 100px;
  	}
	@media only screen and (max-width: 320px) {
		width: 3.75rem; //60px;
  	}
}
.categories-name-status:after {
	width: 6px;
	left: -8px;
}

.categories-name-categories:before {
	width: 62px;
	right: 12px;
	@media only screen and (max-width: 480px) {
		width: 95px;
  	}
	@media only screen and (max-width: 320px) {
		width: 3.438rem; //55px;
  	}
}

.categories-name-items:before {
	width: 123px;
	right: 12px;
	@media only screen and (max-width: 480px) {
		width: 115px;
  	}
	@media only screen and (max-width: 320px) {
		width: 4.688rem; //75px;
  	}
}
.categories-name-items:after {
	width: 7px;
	left: -9px;
}

.categories-name-infoboxes:before {
	width: 6.563rem; //105px;
	right: 0.313rem; //5px;
	@media only screen and (max-width: 480px) {
		width: 6.25rem; //100px;
  	}
	@media only screen and (max-width: 320px) {
		width: 3.75rem; //60px;
  	}
}
.categories-name-infoboxes:after {
	width: 8px;
	left: -10px;
}

.categories-name-action:before {
	width: 102px;
	right: 5px;
	@media only screen and (max-width: 480px) {
		width: 62px;
  	}
	  @media only screen and (max-width: 320px) {
		width: 130px;
  	}
}

.ui-selectmenu-text {
	padding-top: 5px;
	@media only screen and (max-width: 480px) {
		padding-top: 2px;
		font-size: 11px;
  	}
	  @media only screen and (max-width: 480px) {
		font-size: 0.625rem; //10px;
  	}
}

.ui-state-active, .ui-widget-content .ui-state-active {
	border-color: #ffffff;
	background-color: #ffffff;
	color: $primary;
}

.info {
	margin-bottom: 20px;
	&__day {
		@include description-title;
		font-size: 0.688rem; //11px
	}
}

.hatch {
	@media only screen and (max-width: 480px) {
		display: none;
  	}
}

.tbspan {
	margin-bottom: 14px;
	display: flex;
	@media only screen and (max-width: 480px) {
		max-width: 26.25rem; //420px;
		flex-wrap: wrap;
	}
	@media only screen and (max-width: 320px) {
		max-width: 16.25rem; //260px;
		margin-bottom: 20px;
	}
	&__arrow {
		width: 0.5rem; //8px;
		height: 0.688rem; //11px;
		margin: 5px 0px 27px 0px;
		@media only screen and (max-width: 480px) {
			width: 0.438rem; //7px;
			height: 0.438rem; //7px;
		}
		@media only screen and (max-width: 320px) {
			width: 0.313rem; //5px;
			height: 0.313rem; //5px;
		}
	}
}

.tbspan:hover {
	background-color: #FAFAFA;
} 

.day {
	width: 4.063rem; //65px;
	height: 1.5rem; //24px;
	margin: 0px 23px 0px 27px;
	@media only screen and (max-width: 480px) {
		max-width: 3rem; //48px;
		height: 1.25rem; //20px;
		margin: 0px 7px 0px 5px;
	}
	@media only screen and (max-width: 320px) {
		width: 2.813rem; //45px;
	}
	&__text {
		@include description-paragraphs;
		@media only screen and (max-width: 480px) {
			font-size: 0.75rem; //12px;
		}
		@media only screen and (max-width: 320px) {
			font-size: 0.688rem; //11px;
		}
	}
}

.time {
	display: block;
	@include time;
	@media only screen and (max-width: 480px) {
		font-size: 0.75rem; //12px;
	}
	@media only screen and (max-width: 320px) {
		font-size: 0.688rem; //11px;
	}
}

.clip {
	width: 0.25rem; //4px;
	height: 3.375rem; //54px;
	margin-right: 30px;
	clip-path: ellipse(120% 50% at 50% 50%);
	background-color: $primary;
	@media only screen and (max-width: 480px) {
		width: 0.188rem; //3px;
		height: 2.5rem; //40px;
		margin-right: 7px;
	}
}

.circle {
	width: 2.25rem; //36px;
	height: 2.25rem; //36px;	
	border-radius: 50%;
	background: $primary;
	@media only screen and (max-width: 480px) {
		display: none;
	}
}

.clip-task, .task {
	background-color: #C562C3;
}

.other-days {
	background-color: $secondary;
} 

.event {
	background-color: #F7A90D;
}

.usa-icon {
	margin: 9.6px 13px;
	@media only screen and (max-width: 480px) {
		margin: 5px 9px;
	}
}

.event-icon {
	margin: 9px 11px;
	@media only screen and (max-width: 480px) {
		margin: 4px 6px;
	}
}

.description {
	width: 18.938rem; //303px;
	margin-left: 14px;
	@media only screen and (max-width: 480px) {
		max-width: 11.25rem; //180px;
		margin-left: 0px;
	}
	@media only screen and (max-width: 320px) {
		max-width: 110px;
		margin-left: 0px;
		margin-bottom: 5px;
	}
	&__title {
		@include description-title;
		@media only screen and (max-width: 480px) {
			margin-bottom: 0.313rem; //5px;
			font-size: 0.875rem; //14px;
		}
	}
	&__paragraphs {
		@include description-paragraphs;
		@media only screen and (max-width: 480px) {
			font-size: 0.688rem; //11px;
			line-height: 12px;
		}
	}
}

.btnstatus {
	width: 6rem; //96px;
	height: 1.875rem; //30px;
	margin-right: 173px;
	display: flex;
	background: #D4F8CB66;
	border-radius: 20px;
	@media only screen and (max-width: 480px) {
		display: none;
	}
	&__point {
		width: 0.5rem; //8px;
		height: 0.5rem; //8px;
		margin: 10px 0px 0px 8px;
		background-color: #F33A3D;
		border-radius: 50%;
	}
	&__status {
		margin: 6px;
		@include description-paragraphs;
		font-size: 0.813rem; //13px;
	}
}

.paid {
	background: #5DCB42;
}

.noAnswerPoint {
	background: #C4C4C4;
	margin: 11px 0px 0px 6px;
}

.unpaid {
	text-align: center;
	background: #FEE6E7;
}

.noAnswer {
	background: $secondary;
}