.main {
	width: 58.313rem; //933px;
	padding-top: 3rem;
}
.dynamicFilter {
	display: flex;
	justify-content: space-between;
	margin: 46px 0px 9px 0px;
	&__GooglSync {
		display: flex;
	}
	&__box-btn {
		height: 34px;
	}
	&__btn {
		width: 5.938rem; //95px;
		height: 2.125rem; //34px;
		background-color: #ffffff;
		border-radius: 5px;
		border-color: $secondary;
	}
	&__btn:hover {
		background: $secondary;
	}
	&__cover-btn {
		display: flex;
		justify-content: center;
		margin-left: 17px;
	}
	&__icon {
		margin-right: 7px;
	}
	&__text {
		margin-right: 17px;
		@include text;
	}
}

.line-dynamicFilter {
	margin-left: 0px;
}

.dropdowns-block {
	width: 933px;
	margin: 25px 0px 23px 0px;
}

.dropdowns {
	display: flex;
}

.dropdowns__item {
	height: 2.688rem; //43px;
	background: #FFFFFF;
	border: 1px solid #F2EDED;
	box-sizing: border-box;
	border-radius: 5px;
	margin-right: 9px;
}

#datepicker {
	border-top: none;
	width: 160px;
}

input[type="text" i] {
	padding-left: 30px;
}

.wrapper__type
.ui-button {
	width: 112px;
	height: 29px;
	margin-right: 8px;
	background-color: #ffffff;
	border: 1px solid #F2EDED;
	border-top: none;
	z-index: 1;
}

.wrapper__status
.ui-button {
	width: 81px;
	height: 29px;
	margin-right: 8px;
	background-color: #ffffff;
	border: 1px solid #F2EDED;
	border-top: none;
	z-index: 1;
}

.wrapper__categories
.ui-button {
	width: 102px;
	height: 29px;
	margin-right: 8px;
	background-color: #ffffff;
	border: 1px solid #F2EDED;
	border-top: none;
	z-index: 1;
}

.wrapper__items
.ui-button {
	width: 134px;
	height: 29px;
	margin-right: 8px;
	background-color: #ffffff;
	border: 1px solid #F2EDED;
	border-top: none;
	z-index: 1;
}

.wrapper__infoboxes
.ui-button {
	width: 139px;
	height: 27px;
	background-color: #ffffff;
	border: 1px solid #F2EDED;
	border-top: none;
	z-index: 1;
}

.wrapper-action
.ui-button {
	width: 122px;
	height: 29px;
	background-color: #ffffff;
	border: 1px solid #F2EDED;
	border-top: none;
	z-index: 1;
}

.categories-name {
	position: relative;
	display: block;
	margin: 0px 0px -5px 12px;
	@include categories-name;
	z-index: 2;
}

.categories-name:before {
   display: block;
   width: 118px;
   content: '';
   position: absolute;
   border-bottom: 1px solid #F2EDED;
   top:40%;
   right: 14px;
}
 
.categories-name:after {
   display: block;
   width: 5px;
   content: '';
   position: absolute;
   border-bottom: 1px solid #F2EDED;
   top:40%;
   left: -7px; 
}

.categories-name-type:before {
	width: 68px;
	right: 11px;
}
.categories-name-type:after {
	width: 6px;
	left: -9px;
}

.categories-name-status:before {
	width: 50px;
	right: 11px;
}
.categories-name-status:after {
	width: 6px;
	left: -8px;
}

.categories-name-categories:before {
	width: 62px;
	right: 12px;
}

.categories-name-items:before {
	width: 123px;
	right: 12px;
}
.categories-name-items:after {
	width: 7px;
	left: -9px;
}

.categories-name-infoboxes:before {
	width: 105px;
	right: 5px;
}
.categories-name-infoboxes:after {
	width: 8px;
	left: -10px;
}

.categories-name-action:before {
	width: 102px;
	right: 5px;
}

.ui-selectmenu-text {
	padding-top: 5px;
}

.ui-state-active, .ui-widget-content .ui-state-active {
	border-color: #ffffff;
	background-color: #ffffff;
	color: $primary;
}

.info {
	margin-bottom: 20px;
	&__day {
		@include description-title;
		font-size: 0.688rem; //11px
	}
}

.tbspan {
	margin-bottom: 14px;
	display: flex;
	&__arrow {
		width: 7,5px;
		height: 12px;
		margin-bottom: 27px;
	}
}

.tbspan:hover {
	background-color: #FAFAFA;
} 

.day {
	width: 4.063rem; //65px;
	height: 1.5rem; //24px;
	margin: 0px 23px 0px 27px;
	&__text {
		@include description-paragraphs;
	}
}

.time {
	display: block;
	@include time;
}

.clip {
	width: 4px;
	height: 54px;
	margin-right: 30px;
	clip-path: ellipse(120% 50% at 50% 50%);
	background-color: $primary;
}

.circle {
	width: 36px;
	height: 36px;	
	border-radius: 50%;
	background: $primary;
}

.clip-task, .task {
	background-color: #C562C3;
}

.other-days {
	background-color: $secondary;
} 

.event {
	background-color: #F7A90D;
}

.usa-icon {
	margin: 9.6px 13px;
}

.event-icon {
	margin: 9px 11px;
}

.description {
	width: 18.938rem; //303px;
	margin-left: 14px;
	&__title {
		@include description-title;
	}
	&__paragraphs {
		@include description-paragraphs;
	}
}
.btnstatus {
	width: 6rem; //96px;
	height: 30px;
	margin-right: 173px;
	display: flex;
	background: #D4F8CB66;
	border-radius: 20px;
	&__point {
		width: 0.5rem; //8px;
		height: 0.5rem; //8px;
		margin: 10px 0px 0px 8px;
		background-color: #F33A3D;
		border-radius: 50%;
	}
	&__status {
		margin: 6px;
		@include description-paragraphs;
		font-size: 0.813rem; //13px;
	}
}

.paid {
	background: #5DCB42;
}

.noAnswerPoint {
	background: #C4C4C4;
	margin: 11px 0px 0px 6px;
}

.unpaid {
	text-align: center;
	background: #FEE6E7;
}

.noAnswer {
	background: $secondary;
}