<header class="header">
	<div class="header__wrapper">
		<div class="header__left">
			<span class="header__left__span">Journal</span>
			<div class="header__left__circle">
				<img class="header__left__circle__plus" src="assets/images/icon-svg/plus.svg"/>
			</div>
		</div>
		<ul class="nav__list">
			<li class="nav__item">
				<img class="" src="assets/images/icon-svg/fa-user.svg"/>
			</li>
			<li class="nav__item">
				<img class="" src="assets/images/icon-svg/fa-bell.svg"/>
			</li>
			<li class="nav__item">
				<img class="" src="assets/images/icon-svg/fa-comments.svg"/>
			</li>
			<li class="nav__item">
				<img class="" src="assets/images/icon-svg/fa-cog.svg"/>
			</li>
		</ul>
	</div>
	<div class="line"></div>
</header>
