<aside class="sidebar">
	<div class="sidebar__content">
		<div class="profile__wrapper">
			<div class="profile__boxes">
				<img class="profile__avatar" src="assets/images/sidebar/avatar.jpg" alt="">
					<div class="circle-crown">
						<img class="circle-crown__img" src="assets/images/icon-svg/crown.svg"/>
					</div>
					<span class="profile__name">Profile</span>
			</div>
			<div class="profile__boxes">
				<div class="profile__boxes__circle">
					<img class="profile__boxes__circle__icon" src="assets/images/icon-svg/mdi_dashboard.svg"/>
				</div>
				<span class="profile__boxes__span">Journal</span>
			</div>
			<div class="profile__boxes">
				<div class="profile__boxes__circle__all">
					<img class="profile__boxes__circle__icon" src="assets/images/icon-svg/tasks.svg" alt="">
				</div>
				<span class="profile__boxes__span">Tasks</span>
			</div>
			<div class="profile__boxes">
				<div class="profile__boxes__circle__all">
					<img class="profile__boxes__circle__icon" src="assets/images/icon-svg/Personal-Hub.svg" alt="">
				</div>
				<span class="profile__boxes__span">Personal Hub</span>
			</div>
			<div class="profile__boxes">
				<div class="profile__boxes__circle__all">
					<img class="profile__boxes__circle__icon" src="assets/images/icon-svg/Network.svg" alt="">
				</div>
				<span class="profile__boxes__span">Network</span>
			</div>
		</div> <!-- /.profile -->
	</div> <!-- /.sidebar__content -->
</aside>
