<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
		<head>
			{{> head }}
		</head>
<body>

    <div class="page">
        <!-- Header -->
        {{> header }}

        <!-- Sidebar -->
        {{> sidebar }}

        <!-- Main -->
        <main class="main">
            <div class="container">
                {{> body }}
            </div>
        </main>
    </div>


    <!-- JS -->
	 <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
